* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  background-color: #6e5a8e;
  color: #fff7fb;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 2rem;

  flex: 1;

  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 1.15;
  margin: 3rem 0;
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  margin: 3rem 0;
}

.btn {
  border: none;
  font-size: 1.6rem;
  font-weight: bold;
  padding: 1.6rem;
  border-radius: 1rem;
}

header,
footer {
  background-color: #5c4a7a;
  color: #fff7fb;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  position: sticky;
  top: 0;
}

footer {
  padding: 1rem 4 rem;
}

.logo,
.header-nav ul li a {
  text-decoration: none;
  font-size: 3rem;
  color: inherit;
  display: inline-block;
  padding: 2rem;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

img {
  width: 30rem;
}

/* Contenedor principal: activa flex */
.layout {
  display: flex; /* Activa Flexbox en los hijos (sidebar y contenido) */
  gap: 1rem; /* Espacio entre ellos */
  padding: 1rem;
  flex-wrap: row;
}

/* Barra lateral */
.sidebar {
  flex: 0 0 250px; /* no crece, no se achica, base fija de 250px */

  background: #f7bb2b;
  color: #1d1a20;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
}

/* Contenedor de tarjetas */
.contenedor-tarjetas {
  display: flex; /* activa Flexbox en las tarjetas */

  /*permite que pasen a otra línea si no entran */
  flex-wrap: wrap;

  gap: 1rem; /* espacio entre tarjetas */
  margin-top: 1rem;
}

/* Cada tarjeta */
.producto {
  flex: 1 1 200px; /*puede crecer (1), puede achicarse (1), base de 200px */
  background: #1d1a20;
  color: #f7bb2b;
  padding: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  font-size: 1.8rem;
}
